
.link {
    color: primary;
}

.disabled-link {
    color: #4E5454;
}

.leyenda {
    overflow-y: scroll;
}

.Modoinactive {
    color: primary;
    background-color: white;
}

.Modoactive {
    color: #4E5454;
    background-color: #fddb7e;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
}