.inactive {
    color: primary;
    background-color: white;
}

.active {
    color: red;
    background-color: lightgreen;
}

.chill{
    background-color: lightblue;
}
.no{
    background-color: white;
}
