.capa-inactiva, .capa-inactiva:hover, .capa-inactiva:focus, .capa-inactiva:active, .capa-inactiva:visited {
    color: blue;
    background-color: white;
    border-width: 0px;
    background-image: none;
    outline: 0;
    box-shadow: none;
}


.capa-activa, .capa-activa:focus ,  .capa-activa:hover , .capa-activa:active, .capa-activa:visited {
    color: #4E5454;
    background-color: #b4d3b2;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: none;
    outline: 0;
    box-shadow: none;
}

.nav-activa, .nav-activa:focus, .nav-activa:hover, .nav-activa:active, .nav-activa:visited {
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: none;
    outline: 0;
    box-shadow: none;
}


.nav-inactiva, .nav-inactiva:focus,.nav-inactiva:hover, .nav-inactiva:active, .nav-inactiva:visited{
    background-color: #F8F9FA;
    color: black;
    border-width: 0px;
    background-image: none;
    outline: 0;
    box-shadow: none;
}